In [4]:
import os
import sqlite3
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# Connect to the database and load cleaned data
path = os.path.join('..', 'Database', 'news.db')
conn = sqlite3.connect(path)
df = pd.read_sql("SELECT * FROM cleanedText", conn)
conn.close()

In [3]:
df.head()

   id                                       cleaned_text label
0   1  washington reuters head conservative republica...  real
1   2  washington reuters transgender people allowed ...  real
2   3  washington reuters special counsel investigati...  real
3   4  washington reuters trump campaign adviser geor...  real
4   5  seattlewashington reuters president donald tru...  real

In [3]:
# Initialize CountVectorizer (Bag of Words)
vectorizer = CountVectorizer(max_features=5000)  # Use top 5000 words
X_bow = vectorizer.fit_transform(df["cleaned_text"])

# Convert to DataFrame for better visualization
X_bow_df = pd.DataFrame(X_bow.toarray(), columns=vectorizer.get_feature_names_out())

print("Bag of Words Representation:")
X_bow_df.head()

Bag of Words Representation:

,abandon,abandoned,abbas,abc,abdullah,abe,abedin,ability,able,aboard,...,youre,youth,youtube,ypg,zealand,zero,zika,zimbabwe,zone,zuma
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# Initialize TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X_tfidf = tfidf_vectorizer.fit_transform(df["cleaned_text"])

# Convert to DataFrame
X_tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

print("TF-IDF Representation:")
X_tfidf_df.head()

TF-IDF Representation:

,abandon,abandoned,abbas,abc,abdullah,abe,abedin,ability,able,aboard,...,youre,youth,youtube,ypg,zealand,zero,zika,zimbabwe,zone,zuma
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Save Bag of Words features
X_bow_df.to_sql("features_bow", conn, if_exists="replace", index=False)

# Save TF-IDF features
X_tfidf_df.to_sql("features_tfidf", conn, if_exists="replace", index=False)

conn.close()

print("✅ Features have been saved to the database!")

OperationalError: too many columns on features_bow